#standings{
    text-align: center;
}

th{
    text-align: center;
}

tr{
    border-bottom: 1px solid lightgrey;
    height: 45px;
}

.team{
    text-align: left;
}

#champions{
    border-left: 5px solid #39DF3E;
}

#championsqual{
    border-left: 5px solid #E1CF44;
}

#europa{
    border-left: 5px solid #4054B2;
}

#relegation{
    border-left: 5px solid red;
}
